@use '../../../styles/dashboard-forms.scss' as *;

app-image-upload, app-amenities-form{
  width: 100%;
}

.amenities-text{
  font-size: 20px;
  font-weight: bold;
  &:hover{
    cursor: pointer;
  }
}