@use './mixins.scss' as *;

main {
    @include display(flex, column, flex-start, center);
    min-height: 100vh;
    height: fit-content;
    padding: 20px 50px;
    background-color: var(--color-bg-body);
}

.header {
    @include display(flex, row, space-between, center);
    margin-bottom: 20px;
    padding: 60px 40px;
    width: 100%;

    h1 {
        font-size: 32px;
        margin: 0;

    }
    button{
        margin: 0;
    }

}

app-search-input{
    margin:0
}

.table-wrapper {
    overflow-x: auto;
    border-radius: 12px;
    background: var(--color-bg-surface);
    box-shadow: 0 0 0 1px #ddd;
    position: relative;

    .table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            color: var(--color-text-base);
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f8f8f8;
            color: #647188;
            text-wrap: nowrap
        }
    }
}

.inactive{
    color:red
}

.active{
    color: #24AF71;
}

.pending{
    color: #FF9A42;
}

.active-column{
    max-width: 55px;
}

.btn{
    max-height: 32px;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 0px;
}
