@use "../styles/mixins.scss" as *;
@use "../styles/checkbox.scss" as *;

main {
  height: calc(100vh - 160px)
}

content {
  @include display(flex, column, center, center);
  height: 100%;
  padding: 0 20px;
  max-width: 1440px;
}

form {
  @include display(flex, column, center, center);
  gap: 40px;
  background-color: var(--color-bg-surface);
  padding: 40px;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  position: relative;
}

h1 {
  font-size: 54px;
}

h2 {
  text-align: center;
}

input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0px 10px;
  margin-right: 10px;
  color: black;
  font-size: 20px;
}

mat-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(color-text-base);
}

.form-field {
  background: var(--color-btn-bg);
  @include display(flex, row, center, center);
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  height: 56px;

  &:focus-within {
    mat-icon {
      color: var(--color-icon-focus);
    }
  }

  position: relative;
}

.name-field {
  @include display(flex, row, center, center);
  gap: 20px;
}

small {
  color: var(--color-error-message);
  font-size: 14px;
  position: absolute;
  top: 100%;
}

.checkbox {
  @include display(flex, row, center, center);
  position: relative;

  label {
    cursor: pointer;
  }

  a {
    font-weight: bold;
    cursor: pointer;

  }
}

.legal-link {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 2px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-text-base);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.175s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}