<main>
    <form [formGroup]="serviceForm" [appClickOutside]="closeForm">
        @if(clientService.sending()) {
        <app-progress-bar aria-label="Loading"></app-progress-bar>
        }
        <mat-icon aria-label="Close" class="close-icon" (click)="closeForm()">close</mat-icon>
        @if(clientService.selectedClient() === null) {
        <h1>New Client</h1>
        }
        @if(clientService.selectedClient() !== null) {
        <h1>Edit Client</h1>
        }
        <div class="form-input-wrapper">

            <div class="input-area width-50">
                <label for="name">First Name</label>
                <div class="form-field">
                    <input type="text" id="first_name" name="first_name" required placeholder="First Name"
                        formControlName="first_name">
                    @if(formService.getFormErrors(serviceForm, 'first_name')?.['required']) {
                    <small>First Name is required</small>
                    }
                </div>
            </div>
            <div class="input-area width-50">
                <label for="name">Last Name</label>
                <div class="form-field">
                    <input type="text" id="last_name" name="last_name" required placeholder="Last Name"
                        formControlName="last_name">
                    @if(formService.getFormErrors(serviceForm, 'last_name')?.['required']) {
                    <small>Last Name is required</small>
                    }
                </div>
            </div>
        </div>
        <div class="input-area">
            <label for="name">Email</label>
            <div class="form-field">
                <input type="email" id="email" name="email" required placeholder="Email" formControlName="email">
                @if(formService.getFormErrors(serviceForm, 'email')?.['required']) {
                <small>Email is required</small>
                }
            </div>
        </div>
        <div class="width-100 address-form" [formGroupName]="'address'">
            <div class="form-input-wrapper">
                <div class="input-area width-75">
                    <label for="street">Street</label>
                    <div class="form-field">
                        <input type="text" id="street" formControlName="street" placeholder="Street" />

                    </div>
                </div>
                <div class="input-area width-25">
                    <label for="house_number">House Number</label>
                    <div class="form-field">
                        <input type="text" id="house_number" formControlName="house_number"
                            placeholder="House Number" />
                    </div>
                </div>
                @if(getStreetErrors()){
                <small>{{getStreetErrors()}}</small>
                }
            </div>

            <div class="form-input-wrapper">

                <div class="input-area width-75">
                    <label for="city">City</label>
                    <div class="form-field">
                        <input type="text" id="city" formControlName="city" placeholder="City" />
                    </div>
                </div>

                <div class="input-area width-25">
                    <label for="postal_code">Postal Code</label>
                    <div class="form-field">
                        <input type="text" id="postal_code" formControlName="postal_code" placeholder="Postal Code" />
                    </div>
                </div>

                @if(getCityErrors()){
                <small>{{getCityErrors()}}</small>
                }
            </div>
            <div class="form-input-wrapper">
                <div class="input-area width-50">
                    <label for="country">Country</label>
                    <div class="form-field">
                        <input type="text" id="country" formControlName="country" placeholder="Country" />
                    </div>

                </div>

                <div class="input-area width-50">
                    <label for="phone">Phone</label>
                    <div class="form-field">
                        <input type="text" id="phone" formControlName="phone" placeholder="Phone" />
                    </div>

                </div>
                @if(getPhoneCountryErrors()){
                <small>{{getPhoneCountryErrors()}}</small>
                }
            </div>
        </div>

        <div class="button-area">
            @if(clientService.selectedClient() !== null) {

            <button type="button" (click)="this.clientService.deleteClient(
                this.clientService.selectedClient()!.id
              )">Delete</button>
            <button type="submit" (click)="updateClient()" [disabled]="serviceForm.invalid || clientService.sending() "
                (mouseenter)="formService.markAllAsTouched(serviceForm)"
                (mouseleave)="formService.unmarkAllAsTouched(serviceForm)">
                Update
            </button>
            }
            @if(clientService.selectedClient() === null) {
            <button type="submit" (click)="createClient()" [disabled]="serviceForm.invalid || clientService.sending()"
                (mouseenter)="formService.markAllAsTouched(serviceForm)"
                (mouseleave)="formService.unmarkAllAsTouched(serviceForm)">
                Save
            </button>
            }
        </div>
    </form>
</main>