<main>
  <form [formGroup]="propertyForm" [appClickOutside]="closeForm">
    @if(propertyService.sending()) {
    <app-progress-bar aria-label="Loading"></app-progress-bar>
    }
    <mat-icon aria-label="Close" class="close-icon" (click)="closeForm()">close</mat-icon>
    @if(propertyService.selectedProperty() === null) {
    <h1>New Property</h1>
    }
    @if(propertyService.selectedProperty() !== null) {
    <h1>Edit Property</h1>
    }
    <div class="input-area">
      <label for="name">Name</label>
      <div class="form-field">
        <input type="text" id="name" name="name" required placeholder="Name" formControlName="name">
        @if(formService.getFormErrors(propertyForm, 'name')?.['required']) {
        <small>Name is required</small>
        }
      </div>
    </div>
    <div class="input-area">
        <label for email >Contact Email</label>
        <div class="form-field">
          <input type="email" id="email" placeholder="Email" formControlName="email" required />
          @if(getEmailErrors()) {
          <small>{{getEmailErrors()}}</small>
          }
        </div>
      </div>
    <div formGroupName="address" class="address-form">
      <div class="form-input-wrapper">
        <div class="input-area width-75">
          <label for="street">Street</label>
          <div class="form-field">
            <input type="text" id="street" placeholder="Street" formControlName="street" required />
          </div>
        </div>
        <div class="input-area width-25">
          <label for="house_number">House Number</label>
          <div class="form-field">
            <input type="text" id="house_number" placeholder="House Number" formControlName="house_number" required />
          </div>
        </div>
        @if(getStreetErrors()) {
        <small>{{getStreetErrors()}}</small>
        }
      </div>
      <div class="form-input-wrapper">
        <div class="input-area  width-75">
          <label for="city">City</label>
          <div class="form-field">
            <input type="text" id="city" placeholder="City" formControlName="city" required />
          </div>
        </div>
        <div class="input-area width-25">
          <label for="postal_code">Postal Code</label>
          <div class="form-field">
            <input type="text" id="postal_code" placeholder="Postal Code" formControlName="postal_code" required />
          </div>
        </div>
        @if(getCityErrors()) {
        <small>{{getCityErrors()}}</small>
        }
      </div>
      
      <div class="form-input-wrapper">
        <div class="input-area width-50">
          <label for="country">Country</label>
          <div class="form-field">
            <input type="text" id="country" placeholder="Country" formControlName="country" required />
          </div>
        </div>
        <div class="input-area width-50">
          <label for="phone">Phone</label>
          <div class="form-field">
            <input type="text" id="phone" placeholder="Phone" formControlName="phone" required />
          </div>
        </div>
        @if(getPhoneCountryErrors()) {
        <small>{{getPhoneCountryErrors()}}</small>
        }
      </div>
    </div>
    <div class="input-area">
      <label for="description">Description</label>
      <div class="textarea-field">
        <textarea type="text" id="description" name="description" required placeholder="Description"
          formControlName="description"></textarea>
        @if(formService.getFormErrors(propertyForm, 'description')?.['required']) {
        <small>Description is required</small>
        }
      </div>
    </div>
    <div class="input-area">
      <label for="active">Active</label>
      <div class="form-field">
        <select name="" id="active" formControlName="active">
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>
    </div>
    <app-image-upload (imagesChange)="images = $event" (newImageDescriptionsChange)="newImageDescriptions = $event"
      (missingDescriptionChange)="missingDescription = $event"></app-image-upload>

    <div class="button-area">
      @if(propertyService.selectedProperty() !== null) {
      <button type="button" (click)="deleteProperty()">Delete</button>
      <button type="submit" (click)="updateProperty()"
        [disabled]="propertyForm.invalid || propertyService.sending() || missingDescription"
        (mouseenter)="formService.markAllAsTouched(propertyForm)"
        (mouseleave)="formService.unmarkAllAsTouched(propertyForm)">
        Update
      </button>
      }
      @if(propertyService.selectedProperty() === null) {
      <button type="submit" (click)="createProperty()"
        [disabled]="propertyForm.invalid || propertyService.sending() || missingDescription"
        (mouseenter)="formService.markAllAsTouched(propertyForm)"
        (mouseleave)="formService.unmarkAllAsTouched(propertyForm)">
        Save
      </button>
      }
    </div>
  </form>
</main>