@use "../../styles/landing-shared" as *;


main{
    height:calc(100vh - 134px)
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1,
p,
div,
span,
a {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}