@use "../../styles/mixins.scss" as *;

.sidenav {
    @include display(flex, column, space-between, flex-start);
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: var(--color-bg-surface);

    .top-section,
    .bottom-section {
        @include display(flex, column, center, center);
        width: 100%;
        padding: 20px;
        background-color: var(--color-bg-surface);
        gap: 8px;
    }

    button {
        min-width: 200px;
    }
}