<main>
  <content>
    <form [formGroup]="resetForm" (submit)="resetPassword()">
      @if(auth.sending()) {
        <app-progress-bar></app-progress-bar>
      }
      <h1>Reset Password</h1>
      <div class="form-field">
        <input  [type]="passVisible() ? 'text' : 'password'"   name="password" required  placeholder="Password" formControlName="password">
        <mat-icon class="c-pointer" (click)="togglePassVisible('pass')">
          @if(passVisible()){
            visibility_off
          } @else {
            visibility
          }
        </mat-icon>
        @if(formService.getFormErrors(resetForm, 'password')?.['required']) {
          <small>Password is required</small>
        } @else if (formService.getFormErrors(resetForm, 'password')?.['minlength']) {
          <small>Minimum 8 characters</small>
        } @else if (formService.getFormErrors(resetForm, 'password')?.['pattern']) {
          <small>Password must include upper/lowercase, a number and a special character</small>
        } @else if (formService.getFormErrors(resetForm, 'password')?.['maxlength']) {
          <small>Password is too long</small>
        }
      </div>
      <div class="form-field">
        <input  [type]="repeatPassVisible() ? 'text' : 'password'" name="password" required  placeholder="Repeated Password" formControlName="repeated_password">
        <mat-icon class="c-pointer" (click)="togglePassVisible('repeat')">
          @if(repeatPassVisible() ){
            visibility_off
          } @else {
            visibility
          }
        </mat-icon>
        @if(formService.getFormErrors(resetForm, 'repeated_password')?.['required']) {
          <small>Password is required</small>
        }@else if (resetForm.errors?.['passwordMismatch'] && (resetForm.dirty || resetForm.touched)) {
          <small>Passwords do not match.</small>
        }
      </div>
        <button type="submit" [disabled]="resetForm.invalid || auth.sending()">Submit</button>
        <a class="legal-link" (click)="navigator.navigateTo('')">Remembered your password?</a>
    </form>
  </content>
</main>
