<main>
    <content>
        <div class="header">
            <h1>Services</h1>
            <button  (click)="openForm()">
                <mat-icon>add</mat-icon>
                <span>New Service</span>
            </button>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Active</th>
                        <th>Name</th>
                        <th>Associated property</th>
                        <th>Price (€)</th>
                        <th>Type</th>
                        <th>Edit Service</th>
                    </tr>
                </thead>
                <tbody>
                    @for (s of this.sms.services(); track s.id; let index = $index) {
                    <tr>
                        <td><mat-icon [ngClass]="s.active ? 'active' : 'inactive'">radio_button_checked</mat-icon></td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.property_info.name }}</td>
                        <td>{{ s.price }}</td>
                        <td>{{ s.type === 'one_time' ? 'One-time' : 'Per day' }}</td>
                        <td> <button class="btn" (click)="this.openEditForm(s)">Edit</button> </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
            <app-paging [currentPage]="sms.currentPage()" [totalPages]="sms.totalPages()" (pageChanged)="sms.loadPaginatedService($event)"></app-paging>
    </content>
    @if(this.formOpen()) {
    <app-service-form (close)="this.formOpen.set(false)"></app-service-form>
    }
</main>