<main>
  <content>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <h1>Register</h1>

      <div class="name-field">
        <div class="form-field">
          <input type="text" formControlName="first_name" required placeholder="Firstname" />
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="form-field">
          <input type="text" formControlName="last_name" required placeholder="Lastname" />
          <mat-icon>account_circle</mat-icon>
        </div>
      </div>

      <div class="form-field">
        <input type="email" formControlName="email" required placeholder="Email" />
        <mat-icon>email</mat-icon>
      </div>

      <div class="form-field">
        <input [type]="passVisible() ? 'text' : 'password'" formControlName="password" required
          placeholder="Password" />
        <mat-icon class="c-pointer" (click)="togglePassVisible()">
          @if (passVisible()) {
          visibility_off
          } @else {
          visibility
          }
        </mat-icon>
      </div>
      <button type="submit">Sign up</button>
    </form>
  </content>
</main>