<main>
    <content>
        <div class="header">
            <h1>Promocodes</h1>
            <button (click)="this.formOpen.set(true)" class="btn-add">
                <span class="icon">+</span> New Promocode
            </button>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Valdid until</th>
                        <th>Discount Percentage</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (pc of this.pcs.promocodes(); track pc.id; let index = $index) {
                    <tr>
                        <td>{{pc.code}}</td>
                        <td>{{pc.description}}</td>
                        <td>{{pc.valid_until}}</td>
                        <td>{{pc.discount_percent}}</td>
                        <td>
                            <div class="btn-container">
                                <button (click)="this.openEditForm(pc)">Edit</button>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </content>
    @if(this.formOpen()) {
    <app-promocodes-form (close)="this.formOpen.set(false)"></app-promocodes-form>
    }
</main>