@use "../../styles/mixins.scss" as *;

main{
    margin-right: 0px;
    position: relative;
    padding-top: 20px;
}




app-sidenav-toggle{
    margin-left: 10px;
    position: fixed;
    transition: left 350ms ease-out;
    z-index: 999999;
    top: 20px;
}

app-theme-button{
    margin-right: 10px;
    position: fixed;
    top: 20px;
    right: 10px;
}