<main>
    @if(isSidebarOpen()){
        <app-sidenav (closeNav)="closeSidenav()" [appClickOutside]="closeSidenav" [@fadeAnimation] ></app-sidenav>
    }
        <app-sidenav-toggle [isOpen]="isSidebarOpen().valueOf()" [ngStyle]="{'left': isSidebarOpen() ? mobileWidth() : '10px'}" (click)="toggleSidebar()"></app-sidenav-toggle>
        <app-theme-button></app-theme-button>
    <router-outlet></router-outlet>
    @if (shouldShowOverlay()) {
        <app-fill-data-overlay></app-fill-data-overlay>
      }
</main>