<div class="slider-container" *ngIf="current()">
    <div class="slider-image">
        <img *ngIf="current().images.length > 0" [src]="current().images[0].image"
            [alt]="current().images[0].alt_text || current().name" />

    </div>


    <div class="slider-info">
        <h3>{{ current().name }}</h3>
        <p>{{ current().description }}</p>

        @if (!bookingService.selectedProperty() || bookingService.selectedProperty()?.id !== current().id)
        { <button (click)="bookNow()">
            Book Now
        </button>}

    </div>

    <div class="slider-controls">
        <button (click)="prev()">‹ Prev</button>
        <button (click)="next()">Next ›</button>
    </div>
</div>