<main>
    <content>
        <div class="header">
            <h1>Invoices</h1>
            <app-search-input (searchTerm)="this.search($event)"  placeholder="Search invoices" ></app-search-input>
            <app-filter [filterBy]="this.filterBy" (filterByChange)="this.filterInvoices($event)"></app-filter>
        </div>
        <div class="table-wrapper">
            @if(invoiceService.sending()) {
                <app-progress-bar></app-progress-bar>
            }
        
            <table class="table">
                <thead>
                    <tr>
                        <th>Booking Number</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Actions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (invoice of this.invoiceService.invoiceStats(); track invoice.id; let i = $index) {
                    <tr>
                        <td>{{ invoice.invoice_number }}</td>
                        <td>{{ invoice.booking.client.first_name }} {{ invoice.booking.client.last_name }}</td>
                        <td>{{ invoice.booking.created_at | date: 'dd.MM.yyyy'}}</td>
                        <td>{{ invoice.booking.total_price.toFixed(2) }}</td>
                        <td>
                            <div class="btn-container">
                                <a [href]="BASE_URL + invoice.pdf_file" download target="_blank">
                                    <button class="btn">Download</button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <app-paging [currentPage]="this.invoiceService.currentPage()" [totalPages]="this.invoiceService.totalPages()" (pageChanged)="this.invoiceService.getInvoices($event, searchInput())"></app-paging>
    </content>
</main>