<main>
  <form [formGroup]="bookingForm" [appClickOutside]="closeForm" (ngSubmit)="submitForm()">
    @if(bookingService.sending()) {
    <app-progress-bar aria-label="Loading"></app-progress-bar>
    }
    <mat-icon aria-label="Close" class="close-icon" (click)="closeForm()">close</mat-icon>
    @if(bookingService.selectedBooking() === null) {
    <h1>New Booking</h1>
    }
    @if(bookingService.selectedBooking() !== null) {
    <h1>Edit Booking</h1>
    }

    <div class="input-area">
      <label for="check_in">Check In</label>
      <div class="form-field">
        <input type="date" min="{{minCheckInDate}}" id="check_in" name="check_in" formControlName="check_in"
          (change)="setMinCheckOutDate($any($event.target).value)" required>
      </div>
    </div>

    <div class="input-area">
      <label for="check_out">Check Out</label>
      <div class="form-field">
        <input type="date" min="{{minCheckOutDate}}" id="check_out" name="check_out" formControlName="check_out"
          required>
      </div>
    </div>
    @if(showGuestInput()) {
    <div class="input-area">
      <label for="guests_amount">Guests amount</label>
      <div class="form-field">
        <input 
          type="number" 
          min="1" 
          id="guests_amount"  
          name="guests_amount" 
          required 
          placeholder="Guests amount"
          formControlName="guests_amount">
      </div>
    </div>
  }@else {
    <div>No available units</div>
  }
    @if(hasUnitWithEnoughGuests() ) {
      
    <div class="input-area">
      <label for="property">Property</label>
      <div class="form-field">
        <select id="property" name="property" formControlName="property">
          @if(bookingService.selectedBooking() === null){
          <option [ngValue]="null" disabled>Select Property</option>
          }
          @if(bookingService.selectedBooking() !== null){
          <option [ngValue]="bookingService.selectedBooking()?.unit?.property">
            {{bookingService.selectedBooking()?.unit?.property?.name}}
          </option>
          }
          @for(property of availableProperties(); track  $index) {
            <option [ngValue]="property">{{ property.name }}</option>
          }
        </select>
      </div>
    </div>
    <div class="input-area">
      <label for="unit">Unit</label>
      <div class="form-field">
        <select id="unit" name="unit" formControlName="unit">
          <option [ngValue]="null" disabled>Select Unit</option>
          @for(unit of availableUnits(); track  $index) {
            <option [ngValue]="unit">{{ unit.name }}</option>
          }
        </select>
      </div>
    </div>

    <div class="input-area">
      <label for="client">Client</label>
      <div class="form-field">
        <select id="client" name="client" formControlName="client">
          @if(bookingService.selectedBooking() === null){
          <option [ngValue]="null" disabled>Select Customer</option>
          }
          @if(bookingService.selectedBooking() !== null){
          <option [ngValue]="bookingService.selectedBooking()?.client">
            {{bookingService.selectedBooking()?.client?.first_name}}
            {{bookingService.selectedBooking()?.client?.last_name}}
          </option>
          }
          @for(client of clientService.clients(); track  $index) {
          <option [ngValue]="client">{{client.first_name}} {{client.last_name}}</option>
          }
        </select>
      </div>
    </div>


    <div class="input-area">
      <label for="deposit_paid">Deposit Paid</label>
      <div class="form-field">
        <select name="deposit_paid" id="deposit_paid" formControlName="deposit_paid">
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
      </div>
    </div>

    @if(bookingForm.get('deposit_paid')?.value === true) {
    <div class="input-area">
      <label for="deposit_amount">Deposit Amount</label>
      <div class="form-field">
        <input type="number" id="deposit_amount" name="deposit_amount" required placeholder="Deposit Amount"
          formControlName="deposit_amount">
      </div>
    </div>
    }

    <div class="input-area">
      <label for="status">Status</label>
      <div class="form-field">
        <select name="status" id="status" formControlName="status">
          <option [ngValue]="true">Active</option>
          <option [ngValue]="false">Inactive</option>
        </select>
      </div>
    </div>

    <div class="input-area">
      <label for="promo_code">Promo code</label>
      <div class="form-field">
        <select name="promo_code" id="promo_code" formControlName="promocode">
          @if(bookingService.selectedBooking() === null){
          <option [ngValue]="null" disabled>Select Promo Code</option>
          }
          @if(bookingService.selectedBooking() !== null){
          <option [ngValue]="bookingService.selectedBooking()?.promo_code"></option>
          }
          @for(promocode of promoService.promocodes(); track  $index) {
          <option [ngValue]="promocode">{{promocode.description}} {{promocode.discount_percent}}%</option>
          }
        </select>
      </div>
    </div>

    <div class="input-area ">
      <label for="service">Services</label>
      @for(service of serviceService.services(); track  $index) {
      <div class="form-field">
        <div class="checkbox-list">
          <input 
          type="checkbox"
          [value]="service"
          [checked]="selectedServices.includes(service)"
          (change)="onServiceChange($event, service)"
        >
          <span>{{service.name}}</span>
        </div>
      </div>
      }
    </div>



    <button type="submit" [disabled]="!bookingForm.valid">Test</button>
  }
  </form>
</main>