@use '../../../styles/dashboard-forms.scss' as *;
@use '../../../styles/checkbox.scss' as *;
@use '../../../styles/mixins.scss' as *;

.checkbox-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;

  input , span{
    margin: 0 0 0 0;
  }

  span{
    background-color: white;
    color: black;
    padding: 5px 8px;
    border-radius: 4px;
    width: calc(100% - 40px)
  };
}

.dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px dashed var(--color-text-base);
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  width: 100%;
  position: absolute;
  top: 100%;
}

.dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  background: var(--color-btn-bg);
}

.dropdown li:hover {
  background: #eee;
}

