<main>
    <content>
        <div class="header">
            <h1>Clients</h1>
            <button class="btn-add" (click)="this.formOpen.set(true)">
                <mat-icon>add</mat-icon>
                <span>New Client</span>
            </button>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th class="active-column">Active</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Adress</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @for (c of this.clientService.clients(); track c.id) {
                    <tr>
                        <td> <mat-icon [ngClass]="c.active ? 'active' : 'inactive'">radio_button_checked</mat-icon> </td>
                        <td>{{c.first_name}} {{c.last_name}}</td>
                        <td>{{c.email}}</td>
                        <td>{{c.address.street}} {{c.address.house_number}}, {{c.address.postal_code}} {{c.address.city}}, {{c.address.country}}, {{c.address.phone}} </td>
                        <td> <button class="btn" (click)="this.openEditForm(c)">Edit</button> </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <app-paging [currentPage]="clientService.currentPage()" [totalPages]="clientService.totalPages()" (pageChanged)="clientService.loadPaginatedClients($event)"></app-paging>
    </content>
    @if(formOpen()) {
    <app-client-form (close)="formOpen.set(false)"></app-client-form>
    }
</main>