<main>
    <content>
        <div class="header">
            <h1>Clients</h1>
            <button class="btn-add">
                <span class="icon">+</span> New Client
            </button>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Visit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Max Mustermann</td>
                        <td>24.08.2024</td>
                        <td>
                            <div class="btn-container">
                                <button>Send Offer</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </content>
</main>