<main>
    <content>
        <div class="client-header">
            <h1>Clients</h1>
            <button class="btn-add-client">
                <span class="icon">+</span> New Client
            </button>
        </div>
        <div class="client-table-wrapper">
            <table class="client-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Visit</th>
                        <th>Send Offer</th>
                        <th>Send Promo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Max Mustermann</td>
                        <td>24.08.2024</td>
                        <div class="btn-container">
                            <button>Send Offer</button>
                            <button>Send Promo</button>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </content>
</main>