<main>
    <form [formGroup]="promocodeForm" [appClickOutside]="closeForm">
        @if(promocodeService.sending()) {
        <app-progress-bar aria-label="Loading"></app-progress-bar>
        }
        <mat-icon aria-label="Close" class="close-icon" (click)="closeForm()">close</mat-icon>
        @if(promocodeService.selectedPromocode() === null) {
        <h1>New Promocode</h1>
        }
        @if(promocodeService.selectedPromocode() !== null) {
        <h1>Edit Promocode</h1>
        }
        <div class="input-area">
            <label for="name">Code</label>
            <div class="form-field">
                <input type="text" id="code" name="code" required placeholder="Code" formControlName="code">
                @if(formService.getFormErrors(promocodeForm, 'code')?.['required']) {
                <small>Code is required</small>
                }
                @if(formService.getFormErrors(promocodeForm, 'code')?.['minlength']) {
                <small>Code must be at least 3 characters long</small>
                }
                @if(formService.getFormErrors(promocodeForm, 'code')?.['maxlength']) {
                <small>Code must be at most 10 characters long</small>
                }
            </div>
        </div>
        <div class="input-area">
            <label for="description">Description</label>
            <div class="form-field">
                <textarea id="description" name="description" placeholder="Description" formControlName="description"
                    required></textarea>

                @if (formService.getFormErrors(promocodeForm, 'description')?.['required']) {
                <small>Description is required</small>
                }
                @if (formService.getFormErrors(promocodeForm, 'description')?.['minlength']) {
                <small>Description must be at least 10 characters long</small>
                }
                @if (formService.getFormErrors(promocodeForm, 'description')?.['maxlength']) {
                <small>Description must be at most 50 characters long</small>
                }
            </div>
        </div>
        <div class="input-area">
            <label for="name">Valid until</label>
            <div class="form-field">
                <input type="date" id="valid_until" name="valid_until" required placeholder="valid until"
                    formControlName="valid_until" [min]="today">
                @if(formService.getFormErrors(promocodeForm, 'valid_until')?.['required']) {
                <small>Please enter a valid Date</small>
                }
            </div>
        </div>
        <div class="form-input-wrapper">
            <div class="input-area">
                <label for="name">Discount percent</label>
                <div class="form-field">
                    <input type="number" step="1" min="0" max="100" inputmode="numeric" id="discount_percent"
                        name="discount_percent" placeholder="Discount percent" formControlName="discount_percent" />
                    @if (formService.getFormErrors(promocodeForm, 'discount_percent')?.['required']) {
                    <small>Discount is required</small>
                    }
                    @if (formService.getFormErrors(promocodeForm, 'discount_percent')?.['notInteger']) {
                    <small>Only whole numbers are allowed</small>
                    }
                    @if (formService.getFormErrors(promocodeForm, 'discount_percent')?.['outOfRange']) {
                    <small>Only values between 0 and 100 are allowed</small>
                    }
                </div>
            </div>
            <div class="input-area">
                <label for="active">Active</label>
                <div class="form-field">
                    <select name="active" id="active" formControlName="active">
                        <option [ngValue]="true">Active</option>
                        <option [ngValue]="false">Inactive</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="button-area">
            @if(promocodeService.selectedPromocode() !== null) {

            <button type="button" (click)="this.promocodeService.deleteService(
                this.promocodeService.selectedPromocode()!.id
              )">Delete</button>
            <button type="submit" (click)="updatePromocode()"
                [disabled]="promocodeForm.invalid || promocodeService.sending() "
                (mouseenter)="formService.markAllAsTouched(promocodeForm)"
                (mouseleave)="formService.unmarkAllAsTouched(promocodeForm)">
                Update
            </button>
            }
            @if(promocodeService.selectedPromocode() === null) {
            <button type="submit" (click)="createPromocode()"
                [disabled]="promocodeForm.invalid || promocodeService.sending()"
                (mouseenter)="formService.markAllAsTouched(promocodeForm)"
                (mouseleave)="formService.unmarkAllAsTouched(promocodeForm)">
                Save
            </button>
            }
        </div>
    </form>
</main>