@use "../../styles/landing-shared" as *;

content {
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-container {
    max-height: 80vh;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    justify-content: flex-start;
    text-align: left;
    gap: 16px;
}

h2,
p,
ul, h1 {
    margin: 0;
    width: 100%;
    text-align: left;
    cursor: default;
}

ul {
    padding-left: 20px;
}

strong {
    cursor: default !important;
}

@media(max-width:400px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 24px;
    }
}