<main>
    <content>
        <div class="header">
            <h1>Units</h1>
            <button class="btn-add">
                <span class="icon">+</span> New Unit
            </button>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (u of this.dbService.units(); track u.id; let i = $index) {
                    <tr>
                        <td>{{u.property.name}}</td>
                        <td>{{u.name}}</td>
                        <td>{{u.capacity}}</td>
                        <td>{{u.price_per_night}}</td>
                        <td>STATUS</td>
                        <td>
                            <div class="btn-container">
                                <button>Edit</button>
                            </div>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </content>
</main>