<main>
    <content>
        <div class="header">
            <h1>Units</h1>
            <button class="btn-add">
                <span class="icon">+</span> New Unit
            </button>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Name</th>
                        <th>Categrization</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vineyard Villa</td>
                        <td>Maisonette Appartment</td>
                        <td>****</td>
                        <td>Available</td>
                        <td>
                            <div class="btn-container">
                                <button>Edit</button>
                                <button>Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </content>
</main>