<main>
    <content>
        <div class="header">
            <h1>Units</h1>
            <button class="btn-add" (click)="openForm()">
                <mat-icon>add</mat-icon>
                <span>New Unit</span>
            </button>
            <app-search-input (searchTerm)="this.search($event)"  placeholder="Search units" ></app-search-input>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th class="active-column">Active</th>
                        <th>Property</th>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Edit unit</th>
                    </tr>
                </thead>
                <tbody>
                    @for (unit of this.unitsService.units(); track $index) {
                    <tr >
                        <td> <mat-icon [ngClass]="unit.active ? 'active' : 'inactive'">radio_button_checked</mat-icon> </td>
                        <td>{{unit.property.name}}</td>
                        <td>{{unit.name}}</td>
                        <td>{{unit.capacity}}</td>
                        <td>{{unit.price_per_night}}</td>
                        <td>{{unit.status}}</td>
                        <td> <button class="btn" (click)="openEditForm(unit)">Edit</button> </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
            <app-paging [currentPage]="unitsService.currentPage()" [totalPages]="unitsService.totalPages()" (pageChanged)="unitsService.loadPaginatedUnits($event, searchInput())"></app-paging>
        @if(formOpen()){
            <app-unit-form (close)="formOpen.set(false)"></app-unit-form>
        }
    </content>
</main>