<main>
    <content>
        <section class="top-section">
            <div class="container">
                <h1>Property Management System</h1>
                <p>Manage your guesthouse or Airbnb with ease – bookings, invoices, seasonal prices & more.</p>
                <button class="btn primary" (click)="this.navigator.navigateTo('owner/register')">Start Free
                    Trial</button>

            </div>
        </section>
        <section class="features-section">
            <div class="container">
                <h2>Key Features</h2>
                <div class="features-grid">
                    <div class="feature-card">
                        <h3>All-in-One Dashboard</h3>
                        <p>Manage properties, units, and seasonal pricing from one central interface.</p>
                    </div>
                    <div class="feature-card">
                        <h3>Smart Booking System</h3>
                        <p>Live availability, extra services, promo codes – all integrated.</p>
                    </div>
                    <div class="feature-card">
                        <h3>Invoices & Deposits</h3>
                        <p>Automated invoices, deposit tracking, and PDF downloads included.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="trial-section">
            <h2>Try the Tool</h2>
            <p>No registration needed – explore the demo environment now.</p>
            <div class="button-container">
                @if(auth.sending()) {
                <h2>Loading demo...</h2>
                <app-progress-bar aria-label="Loading"></app-progress-bar>
                }@else {
                <button class="btn secondary" (click)="auth.loginDemo()">Explore Demo</button>
                }

            </div>
        </section>
    </content>
</main>