<div class="filters">
    <div class="date-container">
        <div class="input-container">
            <label>From:</label>
            <input type="date" [ngModel]="analyticsService.dateFrom()"
                (ngModelChange)="analyticsService.dateFrom.set($event);" />
        </div>
        <div class="input-container">
            <label>To:</label>
            <input type="date" [ngModel]="analyticsService.dateTo()"
                (ngModelChange)="analyticsService.dateTo.set($event);" />
        </div>
        <div class="input-container">
            <label>Period:</label>
            <select [ngModel]="analyticsService.selectedPeriod()"
                (ngModelChange)="analyticsService.selectedPeriod.set($event)">
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
        </div>
    </div>
</div>