<div class="filters">
    <div class="date-container">
        <div class="input-container">
            <label>From:</label>
            <input type="date" [ngModel]="analyticsService.dateFrom()"
                (ngModelChange)="onCustomDateChange('from', $event)" />
        </div>
        <div class="input-container">
            <label>To:</label>
            <input type="date" [ngModel]="analyticsService.dateTo()"
                (ngModelChange)="onCustomDateChange('to', $event)" />
        </div>
    </div>
</div>