<div class="calendar" appHorizontalDirectives>
    <div class="calendar-title">
        <h2>Availability Calendar</h2>
        @if(allDataLoaded()){
        <div class="calendar-controls">
            <label>
                Property:
                @if(this.propertyService.properties().length > 0) {
                <select [value]="selectedPropertyId()" (change)="onSelectChange($event)">
                    @for (p of this.propertyService.properties(); track p.id) {
                    <option [value]="p.id">{{ p.name }}</option>
                    }
                </select>
                } @else {
                <p>No properties found</p>
                }

            </label>
 
            <label>
                Month:
                <select [(ngModel)]="selectedMonth" (change)="onDateChange()">
                    @for (m of months; track m.value; let i = $index) {
                    <option [ngValue]="m.value" >{{ m.label }}</option>
                    }
                </select>
            </label>

            <label>
                Year:
                <select [(ngModel)]="selectedYear" (change)="onDateChange()">
                    @for (y of years; track y; let i = $index) {
                    <option [ngValue]="y">{{ y }}</option>
                    }
                </select>
            </label>
        </div>

        TODO: Async loading of property and units
        <div class="calendar-info">
            <p>Unit availability for the next 30 days.
            </p>
        </div>
        <div class="calendar-header">
            <div class="unit-cell header-cell">Unit</div>
            @for (day of dates(); track dayString(day); let i = $index) {
            <div class="date-cell header-cell">
                {{ day | date: 'EEE dd.MM' }}
            </div>
            }
        </div>
        @for (unit of units(); track unit.id; let i = $index) {
        <div class="calendar-row">
            <div class="unit-cell">{{ unit.name }}</div>
            @for (day of dates(); track dayString(day); let i = $index) {
            <div class="date-cell" [ngClass]="{
            'available': isAvailable(unit.id, day),
            'unavailable': !isAvailable(unit.id, day)
          }">
                <!-- show bookings -->
                @if (hasBooking(unit.id, day)) {
                <div (click)="onBookingClick(unit.id, day)" class="booking" [style.background-color]="getBookingColor()"
                    [attr.title]="getBookingInfo(unit.id, day)">
                    {{ getBookingLabel(unit.id, day) }}
                </div>
                }
            </div>
            }
        </div>
        }
    }
    </div>
</div>