@use '../../styles/mixins.scss' as *;
@use "../../styles/client-booking.scss" as *;

.unit-detail {
    padding: 40px 20px;
    background-color: var(--color-bg-body);

    .slider-wrapper {
        margin-bottom: 32px;

        img {
            border-radius: 12px;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        }
    }

    .unit-headline {
        @include display(flex, row, space-between, center);
        margin-bottom: 24px;
        flex-wrap: wrap;
        min-height: 20svh;

        .left h1 {
            font-size: 42px;
            margin-bottom: 8px;
        }

        .left p {
            font-size: 18px;
        }

        .right {
            .btn {
                padding: 12px 24px;
                background-color: #4589ff;
                border-radius: 8px;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: #005eff;
                }
            }

            .price-box {
                margin-top: 12px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;

                .label {
                    font-size: 14px;
                }

                a .price {
                    font-size: 22px;
                    font-weight: 600;
                    color: #2ac1bc;

                    .unit {
                        font-size: 16px;
                        font-weight: normal;
                        color: #7a7a7a;
                        margin-left: 6px;
                    }
                }
            }

        }
    }

    .amenities {
        @include display(flex, column, flex-start, flex-start);
        gap: 16px;
        margin-bottom: 24px;

        h2 {
            font-size: 32px;
            margin-bottom: 16px;
        }

        .amenities-container {
            @include display(flex, row, flex-start, flex-start);
            gap: 16px;
            flex-wrap: wrap;

            .amenity {
                background: #f0f4ff;
                padding: 8px 16px;
                border-radius: 6px;
                height: 52px;
                @include display(flex, column, center, center);


                span {
                    margin-left: 8px;
                    font-size: 22px;
                    font-weight: bold;
                    color: black;
                    text-align: center;
                    text-wrap: nowrap;
                }
            }
        }
    }

    .description {
        margin-bottom: 32px;

        h2 {
            font-size: 32px;
            margin-bottom: 12px;
        }

        p {
            font-size: 24px;
            line-height: 1.6;
        }
    }
}


@media (max-width: 768px) {
    .left {
        text-align: center;
    }

    .left p {
        margin-bottom: 24px;
    }

    .description h2 {
        text-align: center;
    }
}


@media (max-width: 480px) {
    .amenity {
        padding: 4px 8px !important;
    }
}