<main class="unit-detail">
    <!-- Image Slider -->
    <section class="slider-wrapper">
        <app-image-slider *ngIf="unitImages().length" [images]="unitImages()" [autoPlay]="true" [interval]="5000" />
    </section>
    <!-- Unit Headline -->
    <section class="unit-headline">
        <div class="left">
            <h1>{{ unit()?.name }}</h1>
            <p *ngIf="property()?.address as address">
                {{ address.street }}, {{ address.city }}, {{ address.country }}
            </p>
        </div>
        <div class="right">
            @if (bookingService.checkInDate()) {
            <button class="btn primary" (click)="openBookingPopup()">Book now</button>
            }
            @else {
            <button class="btn primary" (click)="this.navigator.navigateTo('/')">Choose
                dates</button>
            }
            <div class="price-box">
                <span class="label">Price starts from</span>
                <span class="price">€ {{ unit()?.price_per_night | number: '1.2-2' }} <span class="unit">/
                        night</span></span>
            </div>
        </div>
    </section>
    <!-- Description -->
    <section class="description">
        <h2>Description</h2>
        <p>{{ unit()?.description }}</p>
    </section>
    <!-- Amenities -->
    <section class="amenities">
        <h2>Amenities</h2>
        <div class="amenities-container">
            @for (amenity of unit()?.amenity_details; track amenity; let index = $index) {
            <div class="amenity">
                <span>{{ amenity.label }}</span>
            </div>
            }
        </div>
    </section>
    <!-- Booking Popup -->
    <app-booking-popup *ngIf="showPopup() && unit()" [unit]="unit()!" [closePopup]="closeBookingPopup">
    </app-booking-popup>
</main>