<main>
    <form [formGroup]="serviceForm" [appClickOutside]="closeForm">
        @if(serviceManagementService.sending()) {
        <app-progress-bar aria-label="Loading"></app-progress-bar>
        }
        <mat-icon aria-label="Close" class="close-icon" (click)="closeForm()">close</mat-icon>
        @if(serviceManagementService.selectedService() === null) {
        <h1>New Service</h1>
        }
        @if(serviceManagementService.selectedService() !== null) {
        <h1>Edit Service</h1>
        }
        <div class="input-area">
            <label for="name">Name</label>
            <div class="form-field">
                <input type="text" id="name" name="name" required placeholder="Name" formControlName="name" />
                @if (formService.getFormErrors(serviceForm, 'name')?.['required']) {
                <small>Name is required</small>
                }
                @if (formService.getFormErrors(serviceForm, 'name')?.['minlength']) {
                <small>Name must be at least 3 characters long</small>
                }
                @if (formService.getFormErrors(serviceForm, 'name')?.['maxlength']) {
                <small>Name must be at most 50 characters long</small>
                }
            </div>
        </div>
        <div class="input-area">
            <label for="type">Type</label>
            <div class="form-field">
                <select id="type" name="type" required formControlName="type" placeholder="Type">
                    <option value="" disabled selected hidden>Choose Type</option>
                    @for (type of this.serviceTypes; track type.value; let index = $index) {
                    <option [ngValue]="type.value">{{ type.label }}</option>
                    }
                </select>
                @if (formService.getFormErrors(serviceForm, 'type')?.['required']) {
                <small>Type is required</small>
                }
            </div>
        </div>
        @if (propertyService.properties().length > 0) {
        <div class="input-area">
            <label for="property">Property</label>
            <div class="form-field">
                <select id="property" formControlName="property" required>
                    <option [ngValue]="null" disabled hidden selected>Choose Property</option>
                    @for (prop of propertyService.properties(); track prop.id) {
                    <option [ngValue]="prop.id">{{ prop.name }}</option>
                    }
                </select>
                @if (
                formService.getFormErrors(serviceForm, 'property')?.['required']
                ) {
                <small>Property is required</small>
                }
            </div>
        </div>
        } @else {
        <div class="input-area">
            <label for="property">Property</label>
            <div class="form-field">
                <select disabled>
                    <option>No properties available</option>
                </select>
            </div>
        </div>
        }

        <div class="input-area">
            <label for="name">Price</label>
            <div class="form-field">
                <input type="number" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]{0,2}" id="price" name="price"
                    required placeholder="Price" formControlName="price">
                @if(formService.getFormErrors(serviceForm, 'price')?.['invalidDecimal']) {
                <small>Max. 2 decimal places allowed</small>
                }
            </div>
        </div>
        <div class="button-area">
            @if(serviceManagementService.selectedService() !== null) {

            <button type="button" (click)="this.serviceManagementService.deleteService(
                this.serviceManagementService.selectedService()!.id
              )">Delete</button>
            <button type="submit" (click)="updateService()"
                [disabled]="serviceForm.invalid || serviceManagementService.sending() ">
                Update
            </button>
            }
            @if(serviceManagementService.selectedService() === null) {
            <button type="submit" (click)="createService()"
                [disabled]="serviceForm.invalid || serviceManagementService.sending()">
                Save
            </button>
            }
        </div>
    </form>
</main>