@use '../../../styles/mixins.scss' as *;

header{
  position: relative;
  width: 100%;
  @include display(flex, row, space-between, center);
  max-width: 1440px;
  padding: 20px 20px 0px 20px;
}

.buttons {
  @include display(flex, row, center, center);
  margin-right: 0px;
  width: 110px;
}

button{
  margin-right: 0px;
}


span{
  width: fit-content;
  overflow: visible;
  margin-left: 0px;
}

app-logo{
  margin: 0 0 0 0;
}

.logo-scrollbar{
  margin-right: -12px
}




