@use '../../../styles/mixins.scss' as *;

button {
  @include position(fixed, $top: 15px, $right: 15px);
}

.back-arrow {
  padding: 5px 8px;
  @include position(relative);
  margin-right: 0px;
}

app-logo {
  @include position(fixed, $top: 15px, $left: 60px);
  cursor: pointer;
}