<header>
  <span matTooltip="Change theme">
    <app-theme-button></app-theme-button>
  </span>

  <app-logo
    [ngClass]="navigator.actualRoute() == '/legal-notice' || navigator.actualRoute() == '/privacy-policy' || navigator.actualRoute() == '/' ? 'logo-scrollbar' : ''"
    (click)="this.navigator.navigateTo('owner/')"></app-logo>

  <div class="buttons">
    @if(navigator.actualRoute() == '/register'){
    <button (click)="navigator.navigateTo('owner/login')">Log in</button>

    }@else if(navigator.actualRoute() == '/legal-notice' || navigator.actualRoute() == '/privacy-policy'){
    <button (click)="navigator.goBack()"><mat-icon>arrow_back</mat-icon></button>
    }@else if ( navigator.actualRoute() == '/') {
    <button class="relative-button" (click)="navigator.navigateTo('owner/login')">Log in</button>
    }
    @else{
    <button (click)="navigator.navigateTo('owner/register')">Sign up</button>
    }
  </div>
</header>