<main>
    <content>
        <div class="header">
            <h1>Properties</h1>
            <button (click)="formOpen.set(true)">
                <mat-icon>add</mat-icon>
                <span >New Property</span> 
            </button>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Units</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (p of this.ps.properties(); track p.id; let i = $index) {
                    <tr>
                        <td>{{p.name}}</td>
                        <td>{{p.units.length}}</td>
                        <td>
                            <div class="btn-container">
                                <button>Edit</button>
                                <button>Delete</button>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </content>
    @if(formOpen()) {
        <app-property-form (close)="formOpen.set(false)"></app-property-form>
    }
</main>