<main>
  <content>
    <div class="header">
      <div class="controls">
      <h1>Bookings</h1>
        <button (click)="openForm()">
          <mat-icon>add</mat-icon>
          <span>New Booking</span>
        </button>
      </div>
      <div class="controls">
        <app-search-input (searchTerm)="this.search($event)" placeholder="Search bookings"></app-search-input>
        <app-filter [filterBy]="this.filterBy" (filterByChange)="this.filterBookings($event)"></app-filter>
      </div>
    </div>
    <div class="table-wrapper" appHorizontalDirectives >
      <table class="table">
        <thead>
          <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Guests</th>
            <th>Property</th>
            <th>Unit</th>
            <th>Arrival Date</th>
            <th>Departure Date</th>
            <th>Booked Service</th>
            <th>Total Price</th>
            <th>Deposit</th>
            <th>Edit</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          @for (booking of this.bs.bookings(); track booking.id; let index = $index) {
          <tr>
            <td><mat-icon [ngClass]="{
              'active': booking.status === 'confirmed',
              'inactive': booking.status === 'cancelled',
              'pending': booking.status === 'pending'
            }">radio_button_checked</mat-icon></td>
            <td>{{booking.client.first_name}} {{booking.client.last_name}}</td>
            <td>{{ booking.guests_count }}</td>
            <td>{{booking.property.name}}</td>
            <td>{{booking.unit.name}}</td>
            <td>{{ booking.check_in }}</td>
            <td>{{ booking.check_out }}</td>
            <td>
              @if(booking.services.length > 0){
              @for (service of booking.services; track $index; let i = $index) {
              {{ service?.name }}@if (i < ((booking.services.length) - 1)) {, } } }@else { No booked services } </td>
            <td>{{ booking.total_price.toFixed(2) }} €</td>
            <td><span class="no-wrap">@if (booking.deposit_paid) {✔ {{ booking.deposit_amount.toFixed(2) }} €} @else {X}</span></td>

            <td> <button class="btn" (click)="openEditForm(booking)">Edit</button></td>
            <td> <button class="btn" (click)="this.dashboardService.showBooking.set(booking);
                this.dashboardService.isbookingPopupOpen.set(true);">Details</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <app-paging [currentPage]="bs.currentPage()" [totalPages]="bs.totalPages()"
      (pageChanged)="bs.loadPaginatedBookings($event, searchInput())"></app-paging>
  </content>
  @if (this.dashboardService.isbookingPopupOpen()) {
  <app-booking-popup></app-booking-popup>
  }
  @if(this.formOpen()) {
  <app-booking-form (close)="closeForm()"></app-booking-form>
  }
</main>