<main>
  <content>
    <div class="header">
      <h1>Bookings</h1>
      <button (click)="openForm()">
        <mat-icon>add</mat-icon>
        <span>New Booking</span>
      </button>
    </div>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Guests</th>
            <th>Property</th>
            <th>Room</th>
            <th>Arrival Date</th>
            <th>Departure Date</th>
            <th>Booked Service</th>
            <th>Total Price</th>
            <th>Deposit</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (booking of this.bs.bookings(); track booking.id; let index = $index) {
          <tr>
            <!-- <td>{{b.client.first_name}} {{b.client.last_name}}</td>
            <td>{{ b.guests }}</td>
            <td>{{b.unit.property.name}}</td>
            <td>{{b.unit.name}}</td>
            <td>{{ b.check_in }}</td>
            <td>{{ b.check_out }}</td> -->
            <td>
              @for (service of booking.services; track service.id; let i = $index) {
              {{ service?.name }}@if (i < ((booking.services.length) - 1)) {, } } </td>
            <td>{{ booking.total_price }} €</td>
            <td>@if (booking.deposit_paid) {✔ {{ booking.deposit_amount }} €} @else {X}</td>
            <td>{{ booking.status }}</td>
            <td>
              <div class="btn-container">
                <button>Edit</button>
                <button (click)="this.dashboardService.showBooking.set(booking);
                this.dashboardService.isbookingPopupOpen.set(true);">Details</button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </content>
  @if (this.dashboardService.isbookingPopupOpen()) {
  <app-booking-popup></app-booking-popup>
  }

  @if(this.formOpen()) {
  <app-booking-form (close)="closeForm()"></app-booking-form>
  }
</main>