<main>
    <content>
        <div class="header">
            <h1>Bookings</h1>
            <button class="btn-add">
                <span class="icon">+</span> New Booking
            </button>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Room</th>
                        <th>Arrival Date</th>
                        <th>Departure Date</th>
                        <th>Booked Service</th>
                        <th>Deposit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Max Mustermann</td>
                        <td>2</td>
                        <td>24.08.2024</td>
                        <td>24.08.2024</td>
                        <td>Intermediate Package</td>
                        <td>✔</td>
                    </tr>
                    <tr>
                        <td>Max Mustermann</td>
                        <td>2</td>
                        <td>24.08.2024</td>
                        <td>24.08.2024</td>
                        <td>Intermediate Package</td>
                        <td>✔</td>
                    </tr>
                    <tr>
                        <td>Max Mustermann</td>
                        <td>2</td>
                        <td>24.08.2024</td>
                        <td>24.08.2024</td>
                        <td>Intermediate Package</td>
                        <td>✔</td>
                    </tr>
                    <tr>
                        <td>Max Mustermann</td>
                        <td>2</td>
                        <td>24.08.2024</td>
                        <td>24.08.2024</td>
                        <td>Intermediate Package</td>
                        <td>✔</td>
                    </tr>
                    <tr>
                        <td>Max Mustermann</td>
                        <td>2</td>
                        <td>24.08.2024</td>
                        <td>24.08.2024</td>
                        <td>Intermediate Package</td>
                        <td>✔</td>
                    </tr>
                    <tr>
                        <td>Max Mustermann</td>
                        <td>2</td>
                        <td>24.08.2024</td>
                        <td>24.08.2024</td>
                        <td>Intermediate Package</td>
                        <td>✔</td>
                    </tr>
                    <tr>
                        <td>Max Mustermann</td>
                        <td>2</td>
                        <td>24.08.2024</td>
                        <td>24.08.2024</td>
                        <td>Intermediate Package</td>
                        <td>✔</td>
                    </tr>
                    <tr>
                        <td>Max Mustermann</td>
                        <td>2</td>
                        <td>24.08.2024</td>
                        <td>24.08.2024</td>
                        <td>Intermediate Package</td>
                        <td>✔</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </content>
</main>