<main>
  <content>
    <form [formGroup]="forgotForm" (submit)="forgotPassword()" >
      @if (auth.sending()) {
      <app-progress-bar></app-progress-bar>
      }
      <h1>Forgot Password</h1>
      <div class="form-field">
        <input type="email" id="email" name="email" required placeholder="Email" formControlName="email">
        <mat-icon >email</mat-icon>
        @if(formService.getFormErrors(forgotForm, 'email')?.['required']) {
          <small>Email is required</small>
        }@else if(formService.getFormErrors(forgotForm, 'email')?.['pattern']){
          <small>Enter a valid email address</small>
        }
      </div>
        <button type="submit" [disabled]="forgotForm.invalid || auth.sending()">Send email</button>
        <a class="legal-link" (click)="navigator.navigateTo('')">Remembered your password?</a>
    </form>
  </content>
</main>
