<main>
  <content>
    @if(auth.error() == null && auth.successMessage() == null) {
    <form [formGroup]="forgotForm" (submit)="forgotPassword()">
      @if (auth.sending()) {
      <app-progress-bar aria-label="Loading"></app-progress-bar>
      }
      <h1>Forgot Password</h1>
      <div class="form-field">
        <input type="email" id="email" name="email" required placeholder="Email" formControlName="email">
        <mat-icon aria-label="Email">email</mat-icon>
        @if(formService.getFormErrors(forgotForm, 'email')?.['required']) {
        <small>Email is required</small>
        }@else if(formService.getFormErrors(forgotForm, 'email')?.['pattern']){
        <small>Enter a valid email address</small>
        }
      </div>
      <button type="submit" [disabled]="forgotForm.invalid || auth.sending()">Send email</button>
      <a class="legal-link" (click)="navigator.navigateTo('owner/login')">Remembered your password?</a>
    </form>
    }
    @if(auth.successMessage()!== null || auth.error()!==null) {
    <form class="animated-form">
      <h2>{{ auth.successMessage() || auth.error()}}</h2>
      @if(auth.successMessage()) {
      <button (click)="auth.resetMessages(); navigator.navigateTo('owner/login')">Gotcha</button>
      }
      @if(auth.error()) {
      <button (click)="auth.resetMessages()">Gotcha</button>
      }
    </form>
    }
  </content>
</main>