@use '../../../styles/mixins.scss' as *;

button{
    padding: 4px;
    border-radius: 5px;
    z-index: 999;
    position:relative;
    mat-icon{
        height: auto;
        width: auto;
        font-size: 26px;
    }
}