@use "../../styles/mixins" as *;


main{
  @include position(fixed, $top: 0, $left: 0);
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  z-index: 999999999;
  background-color: rgba(0, 0, 0, 0.85);
  @include display(flex, column, center, center);
  padding: 40px 20px;
  animation: grow 0.5s ease-in-out;
}