@use "../../styles/mixins" as *;
@use '../../styles/dashboard-component.scss' as *;
@use '../../styles/dashboard-forms.scss' as *;

main {
    position: unset;
    height: unset;
    width: unset;
    background-color: var(--color-bg-surface);

    color: var(--color-text-base);
}

app-selector {
    margin-bottom: 20px;
    @include display(flex, row, center, center);
}