<main>
    <content>
        <section class="features-section">
            <div class="header">
                <h1>Analytics</h1>
                <app-selector></app-selector>
            </div>

            <h2>Revenue Overview</h2>
            <app-revenue-chart></app-revenue-chart>

            <h2>Bookings Overview</h2>
            <app-booking-chart></app-booking-chart>

            <h2>Servic Overview</h2>
            <app-service-chart></app-service-chart>
        </section>
    </content>
</main>