@use "../../styles/mixins" as *;
@use '../../styles/dashboard-component.scss' as *;

content{
    
    border-radius: 12px;
    background: var(--color-bg-surface);
    box-shadow: 0 0 0 1px #ddd;
    position: relative;
}

app-selector{
    width: 100%;
}

app-revenue-chart, app-service-chart, app-booking-chart{
    display: flex;
    width: 100%;
}