<main>
    <content>
        <section class="features-section">
            <div class="container">
                <h2>Dashboard</h2>
                <div class="features-grid">
                    <div class="feature-card">
                        <h3>Guests</h3>
                        <p>7</p>
                    </div>
                    <div class="feature-card">
                        <h3>Occupancy</h3>
                        <p>92%</p>
                    </div>
                    <div class="feature-card">
                        <h3>Monthly Occupancy</h3>
                        <p>77%</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="features-section">
            <div class="container">
                <div class="features-grid">
                    <div class="feature-card">
                        <h3>Next Arrival</h3>
                        <p>Sat, 24. August</p>
                    </div>
                    <div class="feature-card">
                        <h3>Next Departure</h3>
                        <p>Sat, 24. August</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="rooms-section">
            <div class="container">
                <h2>Rooms</h2>
                <div class="room-container">
                    <div class="room-card">
                        <h3>Room 1 'ROOMNAME'</h3>
                        <p>Occupied 'ROOMSTATUS'</p>
                    </div>
                    <div class="room-card">
                        <h3>Room 2</h3>
                        <p>Available</p>
                    </div>
                    <div class="room-card">
                        <h3>Room 3</h3>
                        <p>Occupied</p>
                    </div>
                    <div class="room-card">
                        <h3>Room 4</h3>
                        <p>Available</p>
                    </div>
                </div>
            </div>
        </section>
    </content>

</main>