<main>
    <content>
        <section class="features-section">
            <div class="container">
                <h2>Dashboard</h2>
                <div class="features-grid">
                    <div class="feature-card">
                        <h3>Guests</h3>
                        <p>{{this.dashboardService.dashboardStats()?.guests_present}}</p>
                    </div>
                    <div class="feature-card">
                        <h3>Occupancy</h3>
                        <p>{{this.dashboardService.dashboardStats()?.occupancy_today}} %</p>
                    </div>
                    <div class="feature-card">
                        <h3>Monthly Occupancy</h3>
                        <p>{{this.dashboardService.dashboardStats()?.occupancy_month}} %</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="features-section">
            <div class="container">
                <div class="features-grid">
                    <div class="feature-card">
                        <h3>Next Arrival</h3>
                        <p>{{this.dashboardService.dashboardStats()?.next_arrival}}</p>
                    </div>
                    <div class="feature-card">
                        <h3>Next Departure</h3>
                        <p>{{this.dashboardService.dashboardStats()?.next_departure}}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="availability-section">

            <app-availability-calendar></app-availability-calendar>
        </section>
        <!-- <section class="rooms-section">
            <div class="container">
                <h2>Rooms</h2>
                <div class="room-container">
                    @for (unit of this.unitService.units(); track unit.id; let index = $index) {
                    <div class="room-card">
                        <h3>{{ unit.name }}</h3>
                        <p>{{unit.status}}</p>
                        <p>{{unit.property.name}}</p>
                    </div>
                    }
                </div>
            </div>
        </section> -->
    </content>
    @if (this.dashboardService.isbookingPopupOpen()) {
    <app-booking-popup></app-booking-popup>
    }
</main>