@use "../../styles/mixins" as *;
@use '../../styles/dashboard-component.scss' as *;




.features-section {
    text-align: center;
    padding-bottom: 60px;

    h2 {
        font-size: 36px;
        margin-bottom: 50px;
        line-height: 36px
    }

    .features-grid {
        @include display(flex, row, center, stretch);
        gap: 30px;
        flex-wrap: wrap;

        .feature-card {
            @include display(flex, column, center, center);
            padding: 30px;
            max-width: 280px;
            width: 100%;
            border-radius: 12px;
            box-shadow: 0 2px 10px var(--color-text-base);

            h3 {
                font-size: 24px;
                margin-bottom: 15px;
                text-wrap: nowrap;
            }

            p {
                font-size: 16px;
            }

            &:hover {
                box-shadow: 0 4px 20px var(--color-text-base);
                cursor: pointer;
                transform: scale(1.01);
                transition: all 0.175s ease-in-out;
            }
        }
    }
}

.rooms-section {
    h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .container .room-container {
        @include display(flex, column, flex-start, flex-start);
        width: 100%;
    }

    .room-card {
        width: 100%;
        @include display(flex, row, center, center);
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0 2px 10px var(--color-text-base);
        margin-bottom: 16px;

        &:hover {
            box-shadow: 0 4px 20px var(--color-text-base);
            cursor: pointer;
            transform: scale(1.01);
            transition: all 0.175s ease-in-out;
        }
    }
}

.availability-section {
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 10px var(--color-text-base);
}