<section class="property-detail" *ngIf="property() as prop">
    <div class="property-header">
        <div class="text-block">
            <h2>{{ prop.name }}</h2>
            <p>{{ prop.address.city }}, {{ prop.address.country }}</p>
            <p>{{ prop.description }}</p>
        </div>

        <app-image-slider *ngIf="prop.images.length > 0" [images]="prop.images" [autoPlay]="true" [interval]="5000" />
    </div>

    <h3>Units</h3>
    <div class="grid">
        @for (unit of prop.units; track unit.id) {
        <div class="card">
            <img *ngIf="unit.images.length > 0; else noUnitImage" [src]="unit.images[0].image"
                [alt]="unit.images[0].alt_text || unit.name" />
            <ng-template #noUnitImage>
                <img src="no_picture.png" alt="No image available" />
            </ng-template>
            <h4>{{ unit.name }}</h4>
            <p>{{ unit.description }}</p>
            <p>Sleeps up to {{ unit.max_capacity }}</p>
            <p>{{ unit.type | titlecase }}</p>
            <p>Starting from:</p>
            <span>{{ unit.price_per_night }}</span>
            <button class="book-now" (click)="navigator.navigateTo('property/' + prop.id + '/unit/' + unit.id)">
                Check availability
            </button>
        </div>
        }
    </div>

    <button class="btn reset-btn" (click)="navigator.navigateTo('')">
        Back to overview
    </button>
</section>